.videos {
    width: 100% !important;
    height: auto !important;
    border-left: none;
    border-right: none;
    position: relative;
    padding: 20px;
}
.videos > ul {
    list-style: none;
    
    
}

.videos_item li {
    list-style-type: none;
    
}